::ng-deep .p-message .p-message-wrapper {
  padding: 0.75rem 1rem !important;
}
.bg-gradient {
  background-image: linear-gradient(
    0.25turn,
    #030712 0 10%,
    var(--fromColor) 30%,
    var(--toColor) 100%
  );
}
::ng-deep .p-rating .p-rating-icon.p-rating-icon-active {
  color: var(--toColor) !important;
}

:ng-deep .p-galleria .p-galleria-item-nav {
  color: var(--fromColor) !important;
}

::ng-deep .p-carousel-items-content {
  height: 360px !important;
}

::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: var(--fromColor) !important;
}

:ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: var(--toColor) !important;
}
