<div
  *ngIf="randomMovie"
  class="relative overflow-hidden place-items-center bg-black bg-cover bg-center w-full bg-no-repeat mb-8 h-[350px] xl:h-[450px] p-12 text-center"
  style="background-image:
   url('https://image.tmdb.org/t/p/original{{ randomMovie.backdropPath }}')"
>
  <div class="flex h-full items-centers justify-center">
    <div class="text-white bg-black">
      <h2
        class="absolute text-xl font-semibold inset-x-0 bottom-12 xl:text-3xl"
      >
        {{ randomMovie.title }}
      </h2>
      <h4 class="absolute text-xl font-semibold inset-x-0 bottom-4">Action</h4>
    </div>
  </div>
</div>
